<h1>User View</h1>
<table>
    <tr>
      <td> First Name: </td>
      <td> <%= @user.first_name %></td>
    </tr>
    <tr>
      <td> Last Name: </td>
      <td> <%= @user.last_name %></td>
    </tr>
    <tr>
      <td> Email: </td>
      <td> <%= @user.email %></td>
    </tr>
</table>
